html{
			
			scroll-behavior: smooth;

		}
		*{

			box-sizing: border-box;
		}
		body{
			
			margin: 0;
			padding: 0;
			
		}

		#one {

			width: 1529px;
			height: 110px;
			background-color:black ;
			border: 1px solid #666;
			position: relative;
			left: -8.5px;
			top: -8.5px;
			right: -8.5px;
			display: block;
		}
		




		ul{

			list-style-type: none;
			margin: 0;
			padding: 0;
			color:white ;
			text-align: center;
			margin-top: 40px;
			font-family: berlin sans fb;

		}
		
		ul > li{

			display: inline;
		}
		
		#div1{
			width: 1514px;
			
			position: relative;


		}
		#div2{
			width: 1509px;
			height:;
			position: relative;
			color:;
			
			



		}
		#div3{
			width: 1514px;
			position: relative;
			
		}

		#foot{

			width: 1521px;
			height: 100px;
			position:relative;
			
			left: -8.5px;
			background-color: black;
		}
		#gaajvi{
			color: white;
			text-align: center;


		}
		a:link, a:visited {
			text-decoration: none;
			color: white;


		}
		a:hover, a:active{
			color: blue;
			cursor: pointer;



		}